:root {
    --primary-color: #f3b121; /* Le jaune orangé du bouton */
    --text-color: #2d4a22;    /* Le vert foncé pour le texte */
    --bg-soft: #f9f8f3;       /* Fond crème léger */
    --white: #ffffff;
    --border-radius: 20px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("image/bg2test.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo-section img{
    width: 200px;
    height: auto;
    margin-bottom: 30px;

}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}


.tagline {
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin-bottom: 30px;
    font-weight: bold;
}

/* La Carte de connexion */
.auth-card {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 40px 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.02);
}

.auth-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
}

.tab-btn {
    flex: 1;
    background: none;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

/* Formulaire */
input h2 { 
    color:#2d4a22;
    margin-bottom: 30px; font-weight: 500; 
}

.input-group { margin-bottom: 20px; }

input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

input:focus { border-color: var(--primary-color); }

.submit-btn {
    width: 100%;
    padding: 15px;
    background: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(243, 177, 33, 0.3);
    margin: 20px 0;
    transition: transform 0.3s;
}

.submit-btn:hover { transform: translateY(-2px); }

.switch-link {
    display: block;
    font-size: 0.85rem;
    color: #666;
    text-decoration: underline;
}
